body{
	background-image: url(img/vv.gif);
	

	background-size: cover;
	background-position: center;
	font-family: trebuchet MS;
	background-repeat: no-repeat;
	height: 100vh;
}
.uee{
	color: white;
	padding: 10px 10px;
	padding-top: 30px;
	
	padding-left: 200px;



}
#inputtext{
	border:10px;
	position:absolute;
	top: 10%;
	right:40%;
	left:40%;
	color:black;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;



}
#button{
	padding: 3px 9px;
	color: white;
	text-decoration: none;
	border: 3px solid ;
	transition: 0.8s ease;
	background-color: black;
	font-size: 25px;
	right: 200px;
	

}
.but{
	position:absolute;
	top: 20%;
	left: 40%;
	transform:(-50%-%50%);
}
.ins{
	color: white;
}